# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
.terraform.tfstate.*
terraform.tfvars
terraform.tfstate.*

# Secrets
*.pem
*.key
*.json
.vault_pass

# Локальные файлы
*.log
*.tmp
*.backup